<!-- CSS:例1 -->
<!-- <html>
<head>
	<title></title>
	<style type="text/css">
	h1{
		color: green;
		text-decoration: underline;
	}
	em{
		color:red ;
	}
	li li{
		color: blue;
		font-weight: bold;
	}

	</style>
</head>
	<body>
		<h1>Web设计
			<em>sssssssssssssssss</em>
		</h1>
		<ul>
		    <li>HTML</li>
		    <li>CSS
		    <ul>
			   <li><%= link_to("选择器:") %></li>
			   <li>盒子模型</li>
			   <li>浮动与定位</li>
		   </ul>
		   </li>
		</ul>		
	</body>
</html> -->

<!--  CSS:例2 -->
<!-- <head>
	<style type="text/css">
	p{
		color: green;
	}
	.red{
		color: red;
	}
	.purple{
		color: purple;
	}
	#line3{
		color: blue;
	}

	</style>
</head>
<body>
	<p>这是第1行文本</p>
	<p class="red">这是第2行文本</p>
	<p id="line3"class="red">这是第3行文本</p>
	<p style="color:orange;"id="line3">这是第4行文本</p>
	<p class="purple red">这是第5行文本</p>
</body>
 -->


<!--  CSS:例3 -->
