<style>
body{
	background-color:#DDDDDD;
}	
div#conter{
	width: 1000px;
	margin: 70px 350px ;
	padding: 10px ;
	background-color: #ffffff;
}
</style>
<div id="conter">
	<div>
		<%= image_tag @image.src  %>
	</div>
</div>