<style>
.footline {
 width:1000px; height:auto;
 margin: 0px auto;
 overflow: hidden;
 zoom:1;
}
.footline div {
    float:left;
    margin-right: 10px;
}
</style>
<div class="footline">
    <div>
        <%= link_to "Ruby on rails ",:root, id: "logo" %>
    </div>
    <div>  
      <%= link_to "About",   '#' %></li>
      <%= link_to "Contact", '#' %></li>
      <a href="http://news.railstutorial.org/">News</a>
    </div>
    <div>
        <%= link_to "用户信息", users_path %>           
    </div>
</div>            
